<%= form_for(@student) do |f| %>
  <% if @student.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@student.errors.count, "error") %> prohibited this student from being saved:</h2>

      <ul>
      <% @student.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :surname %><br />
    <%= f.text_field :surname %>
  </div>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :gender %><br />
    <%= f.text_field :gender %>
  </div>
  <div class="field">
    <%= f.label :date_of_birth %><br />
    <%= f.date_select :date_of_birth %>
  </div>
  <div class="field">
    <%= f.label :place_of_birth %><br />
    <%= f.text_field :place_of_birth %>
  </div>
  <div class="field">
    <%= f.label :citizenship %><br />
    <%= f.text_field :citizenship %>
  </div>
  <div class="field">
    <%= f.label :tax_code %><br />
    <%= f.text_field :tax_code %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
